@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700&family=Roboto+Serif&family=Roboto:wght@400;500&display=swap');

/*Custom Reset */

*, *:before, *:after {
    box-sizing: inherit;
  }
  
  body, h1, h2, h3, h4, h5, h6, p, ol, ul {
    margin: 0;
    padding: 0;
    font-weight: normal;
  }
  
  ol, ul {
    list-style: none;
  }
  
  img {
    max-width: 100%;
    height: auto;
  }

  input, input:focus-visible {
    border:none;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    outline: none;
  }

  button {
    all: unset;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
  }

  /* Styling */
  *, [class] {
    box-sizing: border-box;
  }

  html {
    font-size: 16px;
    font-family: Roboto, system-ui, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

body {
    background: #EFECE6;
}

main {
    display: grid;
    grid-template-columns: 1fr 4fr;
    justify-items: center;
    height: 100%;
}

header {
    background: #548687;
    border-bottom: solid 5px #F18F01;
    height: 7rem;
    display: flex;
    align-items: center;
    padding-left: 2rem;
}

header h1 {
    font-family: "Roboto Serif";
    font-size: 3rem;
    margin-left: 1rem;
    color: white;
}

header>h1:first-of-type {
    font-family: "Roboto Medium";
    color: #F18F01;
}

.add {
    height: 150px;
    width: 116px;
    margin: 4rem 0;
    border: solid 0.5rem #C8C2B7;
    border-radius: 1rem;
    text-align: center;
    transition: ease all 0.2s;
}

.add i {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2.2rem;
    color: #C8C2B7;
    height: calc(100% + 1rem);
    width: calc(100% + 1rem);
    transform: translate(-0.5rem, -0.5rem);
    transition: ease all 0.2s;
}

.add:hover, .add i:hover {
    border-color: #938E86;
    color: #938E86;
}

.add:active {
    background-color: #C8C2B7;
}

.sidebar {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
    width: 100%;
    min-width: 250px;
}

.stats {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.stats-text {
    display: flex;
    font-size: 1.4rem;
    color: #938E86;
    margin-top: 0.8rem;
}

section {
    position: relative;
    width: 100%;
}

.bookshelf {
    display: grid;
    overflow: auto;
    grid-template-columns: repeat(auto-fill, 188px);
    grid-template-rows: repeat(auto-fill, 250px);
    grid-auto-flow: row;
    margin-top: -1.25rem;
}

form {
    opacity: 0;
}

form.active {
    opacity: 1;
    transition: opacity 500ms ease;
    transition-delay: 500ms;
}

.add-book {
    height: 0;
    width: 0;
    margin: 4rem 1rem 0 1.25rem;
    padding-top: 0.1rem;
    background-color: #FAFAFA;
    border-radius: 0.8rem;
    transition: height 0.75s ease, width 0.7s ease, margin-bottom 1s ease;;
}

.add-book.active {
    height: 320px;
    width: 380px;
    margin-bottom: 2rem;
    transition: height 0.75s ease, width 0.7s ease, margin-bottom 0.2s ease;
}

.image-container { 
    height: 215px;
    width: 140px;
    max-width: 160px;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.image-container img {
    height: 85%;
    width: auto;
    border: solid 7px #C8C2B7;
    border-radius: 0.8rem;
}

.input-container {
    padding: 0 1rem;
    margin-top: 1rem;
}

.input-container label, .input-container input {
    display: block;
    font-family: "Lato";
    margin-bottom: 0.3rem;
    width: 100%;
    max-width: 100%;
}

.input-container label, .rating-text {
    margin-left: 0.6rem;
    color: #756F60;
    font-size: 0.9rem;
}

.input-container input {
    background-color: #F0EDE7;
    border-radius: 1rem;
    height: 2.5rem;
    margin-top: 0.2rem;
    padding: 0 1rem;
    font-size: 1rem;
}

.btns {
    grid-column: 2 / 3;
    width: 100%;
    display: flex;
    justify-content: end;
    align-items: center;
}

.btn {
    height: 45px;
    width: 110px;
    color: white;
    border-radius: 1rem;
    text-align: center;
    font-size: 1.2rem;
    margin-right: 1rem;
}

.btn-primary {
    background-color: #F18F01;
}

.btn-primary:hover {
    background-color: #E38700;
}

.btn-primary:active {
    background-color: #CE7A00;
}

.btn-secondary {
    background-color: #C8C2B7;
    margin-right: 1.2rem;
}

.btn-secondary:hover {
    background-color: #9F9B92;
}

.btn-secondary:active {
    background-color: #79766F;
}

.star-rating {
    display: flex;
    align-items: center;
    justify-content: start;
    flex-direction: row-reverse;
    margin: 1rem 0rem;  
}

.star-rating input {
    display: none;
}

.star-rating input:checked ~ label::before {
    font-weight: 900;
}

.star-rating > label {
    position: relative;
    width: 20px;
    height: 20px;
    font-family: "Font Awesome 5 free";
    font-size: 20px;
    color: orange;
    margin-left: 0.4rem
}

.star-rating label::before {
    content: "\f005";
    position: absolute;
    top: 0px;
    line-height: 16px;
}

.star-rating label:hover {
    color: #F18F01;
}

.ratings-toggle {
    display: flex;
    align-content: center;
    justify-content: end;
    padding: 0 1rem;
}

.toggle {
    position: relative;
    display: inline-block;
    width: 40px;
    height: 26px;
    margin-top: 0.6rem;
}

.toggle input {
    opacity: 0;
    width: 0;
    height: 0;
  }

.slider {
position: absolute;
cursor: pointer;
top: 0;
left: 0;
right: 0;
bottom: 0;
background-color: #ccc;
-webkit-transition: .4s;
transition: .4s;
border-radius: 34px;
}

.slider:before {
position: absolute;
content: "";
height: 18px;
width: 18px;
left: 4px;
bottom: 4px;
background-color: white;
-webkit-transition: .4s;
transition: .4s;
border-radius: 50%;
}

input:checked + .slider {
background-color: #2196F3;
}

input:focus + .slider {
box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
-webkit-transform: translateX(16px);
-ms-transform: translateX(16px);
transform: translateX(16px);
}